<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C5" version="2.4.5828.26833" targetFramework="net452" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net452" />
  <package id="Quartz" version="2.3.3" targetFramework="net452" />
  <package id="RavenDB.Client" version="3.0.30115" targetFramework="net452" />
</packages>