<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net452" />
  <package id="NUnitTestAdapter.WithFramework" version="2.0.0" targetFramework="net452" />
  <package id="Quartz" version="2.3.3" targetFramework="net452" />
  <package id="Quartz.Impl.RavenDB" version="1.0.2" targetFramework="net452" />
  <package id="RavenDB.Client" version="3.0.30115" targetFramework="net452" />
</packages>